body {
    background-color: #dae2e9;
}

.dashboard-title {
    font-weight: bold;
    font-size: 2rem;
}

.card-option {
    border: none;
    border-radius: 10px;
    background-color: #f1f3f5; /* Gris suave */
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra más intensa al pasar el ratón */
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    font-weight: 500;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: #dee2e6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #495057;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-body {
    display: flex;
    align-items: center;
    gap: 15px;
}
