* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}/* Estilo general del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilo para el header */
header {
    background-color: #007bff;
    color: black;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para la sección hero */
.hero {
    background-color: #e9ecef;
    padding: 60px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.hero .cta-button {
    padding: 12px 30px;
    background-color: #28a745;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.hero .cta-button:hover {
    background-color: #218838;
    text-decoration: none;
}

/* Estilo para las características */
.features {
    padding: 40px 0;
    background-color: #e9ecef;
    text-align: center;
}

.features h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}

.features ul li i {
    margin-right: 10px;
    color: #007bff;
}

/* Estilo para el footer */
footer.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer.footer p {
    margin: 0;
    font-size: 1rem;
}

/* Hacer que todo sea responsivo */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1.1rem;
        padding: 10px 25px;
    }

    .features h3 {
        font-size: 1.5rem;
    }

    .features ul li {
        font-size: 1.1rem;
    }
}
