<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Gestor</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<div class="container">
    <h1>Administrador</h1>
    <p>Aquí puedes realizar todas las tareas que te corresponden como gestor.</p>
    <ul>
        <li><a th:href="@{/createproject}">Crear proyecto</a></li>
        <li><a th:href="@{/createcolaborator}">Crear Colaborador</a></li>
        <li><a th:href="@{/viewprojects}">Ver Proyectos</a></li>
    </ul>



    <form th:action="@{/logout}" method="post">
        <button type="submit">Cerrar sesión</button>
    </form>
</div>
</body>
</html>
